body{ 
display: grid;
grid-template-areas: 
"cab cab cab"
"pri pri asi"
"foo foo foo";

}
header{
    grid-area: cab;
    background-color: #ce3b46;
    color: black;
    text-align: center;
    border-radius: 50px;
    border: black solid 15px;
    position: relative;
    
}
main{
    grid-area: asi;
    background-color: #ce3b46;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 50px;
    border: black solid 10px;
    position: relative;

}
footer{
    grid-area: foo;
    background-color: #ce3b46;
    text-align: center;
    color: black;
    border-radius: 50%;
    border: black solid 15px;
}

/* .color1 { #ce3b46 };
.color2 { #b92c38 };
.color3 { #a51e29 };
.color4 { #900f1b };
.color5 { #7b000c }; */
aside{
    grid-area: pri;
    background-color: #ce3b46;
    text-align: center;
    color: black;
    border-radius: 50px;
    border: black solid 15px;
    
}
header img{
    background-color: red;
    width: 160px;
}
main img{
    width: 300px;
}