body{ 
display: grid;
grid-template-areas: 
"cab cab cab"
"pri pri asi"
"foo foo foo";
text-align: center;
}
header{
    background-color: red;
    text-align: center;
}
/* .color1 { #ce3b46 };
.color2 { #b92c38 };
.color3 { #a51e29 };
.color4 { #900f1b };
.color5 { #7b000c }; */
aside{
    grid-area: pri;
    background-color: red;
    text-align: center;
}
header img{
    width: 300px;
    text-align: center;
}